<!-- include layout -->
{{extend 'layout.html'}}
<!-- static about content for main landing page -->
<h3>About</h3>
<p>This file sharing application was developed as part of a DePaul course on frameworks specifically focusing on the web2py framework.</p>
<p>Assignment Instructions:<br>
Create a multi-user todo list. Every user can add a todo item and assign it to himself/herself or to somebody else. If the item is assigned to somebody else, the assignee can accept the item, reject it, and/or mark as completed. Make sure that only the author and the assignee of a todo item can see it.</p>
<p>Thank you for checking out this project.  You're invited to create an account and explore the project features.</p>
