<!-- include layout -->
{{extend 'mylayout.html'}}
<!-- static about content for main landing page -->
<div class=title><h2>About</h2></div>
<h3>There is a test application called tasktrackerclient that will allow the grader to test the web services. For ICS testing you elect to follow this {{=A('link', _href=URL('default', 'task_web_services_ics'))}}.</h3>
<h3>Please begin by updating the host definitions located in models tasktracker.py</h3>
<p>This file sharing application client was developed as part of a DePaul course on frameworks specifically focusing on the web2py framework.</p>

<p>Assignment Instructions:<br>
Assignment 4 adds on Assignments 1, 2 and 3:<br>
Add web services to the TODO list so that users can download the todo list via REST (xml/json), via RSS, and via ICS. Also add the ability to submit new items via REST(xml/json) and via XMLRPC. Provide a working client code to use for testing.<br><br>

Assignment 1:<br>
Build an application that allows users to share files (or images or text or code snippets) with friends and collaborators. Imagine you have to send a picture to many friends. Instead of emailing the image to all of them, you would upload the image into the system and email your friends a link to the image. The application must allow users to login, register and post the file. Upon posting the file, the application must show the user a unique link that you can be used to download the uploaded file. Extra points: allow logged-in users to post comments about the file.<br><br>

Assignment 2:<br>
Create a multi-user todo list. Every user can add a todo item and assign it to himself/herself or to somebody else. If the item is assigned to somebody else, the assignee can accept the item, reject it, and/or mark as completed. Make sure that only the author and the assignee of a todo item can see it.</p>

Assignment 3:<br>
Modify the todo list application to allow users to post comments about the item. Comments can include attachments. Add an expiration to each todo item 
and add email reminders to the author and the assignee of the todo item. Integrate it with the file sharing app of assignment one. Find a good looking 
layout online and apply it to your application. Package the layout as a plugin for others to use. The layout must support menus, authentication links 
and web2py.js. Extra points: posting comments uses ajax.<br><br>
