{{extend 'mylayout.html'}}
<div class=title><h2>Tasks created by me</h2></div>
<!-- display the table headers -->
<p>
<table class="statusbar">
    <tr>
        <td><h3>Short Description</h3></td>
        <td><h3>Full Description</h3></td>
        <td><h3>Assigned To</h3></td>
        <td><h3>Status</h3></td>
        <td><h3>Progress</h3></td>
        <td><h3>Date Created</h3></td>
        <td><h3>Due Date</h3></td>
        <td><h3>Task Page</h3></td>
    </tr>
<!-- display the files that have been uploaded -->
{{for task in created_by_me:}}
    <tr>
        <td>{{=task.short_description}}</td>
        <td>{{=task.full_description}}</td>
        <td>{{=task.assigned_to}}</td>
        <td>{{=task.status}}</td>
        <td>{{=task.progress}}</td>
        <td>{{=task.date_created}}</td>
        <td>{{=task.due_date}}</td>
        <td>{{=A('link to task page', _href=URL('task', args=task.id))}}</td>
    </tr> 
{{pass}}
</table>
</p>
<br>
<div class=title><h2>Tasks assigned to me</h2></div>
<!-- display the table headers -->
<p>
<table class="statusbar">
    <tr>
        <td><h3>Short Description</h3></td>
        <td><h3>Full Description</h3></td>
        <td><h3>Created By</h3></td>
        <td><h3>Status</h3></td>
        <td><h3>Progress</h3></td>
        <td><h3>Date Created</h3></td>
        <td><h3>Due Date</h3></td>
        <td><h3>Update Task</h3></td>
    </tr>
<!-- display the files that have been uploaded -->
{{for task in assigned_to_me:}}
    <tr>
        <td>{{=task.short_description}}</td>
        <td>{{=task.full_description}}</td>
        <td>{{=task.created_by.email}}</td>
        <td>{{=task.status}}</td>
        <td>{{=task.progress}}</td>
        <td>{{=task.date_created}}</td>
        <td>{{=task.due_date}}</td>
        <td>{{=A('link to task update page', _href=URL('update_task', args=task.id))}}</td>
    </tr> 
{{pass}}
</table>
</P>
